<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC Tutorial</title>
</head>
<body>
<form method="post" action="#" th:action="@{/students}" th:object="${student}">
    <label>Age: </label>
    <input type="number" th:field="*{age}">

    <br>

    <label>Name: </label>
    <input type="text" th:field="*{name}">

    <br><br>

    <input type="submit" value="Salvar">
</form>

<br><br>

<div th:unless="${#lists.isEmpty(students)}">
    <table>

        <tbody>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
        </tr>

        <tr th:each="student: ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.age}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>