<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/bootstrap :: bootstrap">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <br>

    <form method="post" action="#" th:action="@{/students}" th:object="${student}">
        <div class="form-group">
            <label for="student-age">Age: </label>
            <input type="number" th:field="*{age}" id="student-age">
        </div>

        <br>

        <div class="form-group">
            <label for="student-name">Name: </label>
            <input type="text" th:field="*{name}" id="student-name">
        </div>

        <br><br>

        <button type="submit" class="btn btn-primary" value="Salvar" id="submit-student">SALVAR</button>
    </form>

    <br><br>

    <div th:unless="${#lists.isEmpty(students)}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.age}"></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>